.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.card {
  flex: 1 1 calc(33% - 2rem);
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}

.cardTitle {
  color: rgb(16, 0, 79);
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.cardDescription {
  color: gray;
}
